<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_dept</h1>
        <table border="4px">
            <tr>
                <th>dept_no</th>
                <th>name</th>
                <th>loc</th>
            </tr>
            {% for do in depts %}
            <tr>
                <td>{{do.dept_no}}</td>
                <td>{{do.name}}</td>
                <td>{{do.loc}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>