<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>{{Name}}
        <h1>For Loop example 1</h1>
        {% for i in Name %}
            {{i}}
        {% endfor %}

        <h1>For Loop example 2</h1>
        {% for i in Name %}
           <h1>{{i}}</h1>
        {% endfor %}

        <h1>For Loop example 3</h1>
        {% for i in class %}
            {{i}}
        {% endfor %}

        <h1>For Loop example 4</h1>
        {% for i in stream %}
            <h3>{{i}}</h3>
        {% endfor %}

    </center>
    
</body>
</html>